*.o
*.so.1.2.3
*.so.1.2
*.so
*.mk
out
*.a
gyp-mac-tool
sophia.Makefile
.*.sw[op]
test/_test_sophia
test/_test_backup
test/_test_log
test/_test_db
test/sophia-test
test/sophia-benchmark
sophia.h
sophia.c
example/crud
example/transaction
example/batch
example/cursor
example/snapshot
