*.o
*.so.2.2
*.so.2.2.0
*.so
*.mk
out
*.a
gyp-mac-tool
sophia.Makefile
.*.sw[op]
test/_test_sophia
test/_test_backup
test/_test_log
test/_test_db
test/sophia-test
test/sophia-prof
sophia.h
sophia.c
example/crud
example/multipart
example/upsert
example/transaction
example/cursor
example/comparator
documentation/_book
documentation/node_modules
